<%- model_class = SupplierContract -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:initial_date) %>:</strong></dt>
  <dd><%= @supplier_contract.initial_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @supplier_contract.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observation) %>:</strong></dt>
  <dd><%= @supplier_contract.observation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supplier_id) %>:</strong></dt>
  <dd><%= @supplier_contract.supplier_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              supplier_contracts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_supplier_contract_path(@supplier_contract), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              supplier_contract_path(@supplier_contract),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
